html,
body {
    margin: 0;
    padding: 0;
}

.accentText {
    font-family: 'Roboto', sans-serif;
}

.strongText {
    font-family: 'Raleway', sans-serif;
}

.normalText {
    font-family: 'Merriweather Sans', sans-serif;
}

.typewriterText {
    font-family: 'Lucida Sans Typewriter', sans-serif;
}

footer{
    background: #111;
    height: auto;
    width: auto;

    padding-top: 40px;
    color: #fff;
}
.footer-bottom{
    background: #000;
    width: auto;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
    float: right;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: #27bcda;
}

.imgFrame {
    --b: 10px; /* control the size */
    padding: var(--b);
    border: calc(2*var(--b)) solid #0000;
    outline: 3px solid #000;
    outline-offset: calc(-1*var(--b));
    background: conic-gradient(from 90deg at 1px 3px,#0000 90deg,#000 0);
}

img.framed {
    box-shadow:
      -50px -50px 0 -40px #aa6b39,
      50px 50px 0 -40px #aa6b39;
}
  
strong {
    background-color: #ffff66;
    
}

/* animations */
@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes scaleBack {
	0% {
		transform: scale(2);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes wipeEnter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


@media (prefers-reduced-motion: no-preference) {
    .slideUp-animation {
        animation: slideUp 1s ease 0s 1 normal forwards;
      }

    .slideLeft-animation {
      animation: slideLeft 1s ease 0s 1 normal forwards;
    }

    .slideRight-animation {
        animation: slideRight 1s ease 0s 1 normal forwards;
    }

    .scaleUp-animation {
        animation: scaleUp 1s ease 0s 1 normal forwards;
    }

    .wobble-animation {
        animation: wobble 2s ease 0s 1 normal forwards;
    }

    .scaleBack-animation {
        animation: scaleBack 1s ease 0s 1 normal forwards;
    }

    .wipeEnter-animation {
        animation: wipeEnter 1s ease 0s 1 normal forwards;
    }

    .fade-animation {
        animation: fade 1s ease 0s 1 normal forwards;
    }
}